* {
    margin: 0;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: #f3eae3;
    font-family: 'Crimson Text', serif;
}

.product {
    display: flex;
    max-height: 70vh;
}

.card-image {
    max-width: 300px;
}

.card-content {
    max-height: 100x;
    max-width: 300px;
    background-color: white;
    padding: 32px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.product-type {
    font-size: 16px;
    letter-spacing: 3px;
    color: #6b6e77;
    margin-bottom: 16px;
    font-weight: 700;
}

.product-name {
    font-size: 32px;
    line-height: 1;
    margin-bottom: 18px;
    font-weight: 700;
}

.product-description {
    font-size: 18px;
    color: #6b6e77;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1.2;
}

.product-value {
    display: flex;
    margin-top: 18px;
    margin-bottom: 18px;
}

.product-main-value {
    font-size: 32px;
    font-weight: 700;
    margin-right: 16px;
    color: #406f5d;
}

.product-after-value {
    font-size: 18px;
    color: #6b6e77;
    text-decoration: line-through;
}

.butão {
    background-color: #406f5d;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    padding: 16px 64px 16px 64px;
}

.icon {
    margin-right: 8px
}




@media screen and (max-width: 489px) {
    .swapimg {
        display: none;
    }

    .visible-mobile {
        width: 100%;
        display: inline;
    }
}

@media screen and (min-width: 763px) {
    .swapimg {
        display: none;
    }

    .visible-desktop {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        width: 100%;
        display: inline;
    }
}