* {
    margin: 0;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3eae3;
    font-family: 'Crimson Text', serif;
}

.product {
    display: flex;
}

.card-image {
    max-width: 300px;
    max-height: 50vh;

}

.card-content {
    max-height: 50vh;
    max-width: 300px;
    background-color: white;
    padding: 32px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-type {
    font-size: 16px;
    letter-spacing: 3px;
    color: #6b6e77;
    margin-bottom: 16px;
    font-weight: 700;
}

.product-description {
    font-size: 18px;
    color: #6b6e77;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1.2;
}

.product-value {
    display: flex;
    margin-top: 18px;
    margin-bottom: 18px;
}

.product-main-value {
    font-size: 32px;
    font-weight: 700;
    margin-right: 16px;
    color: #406f5d;
}

.product-after-value {
    font-size: 18px;
    color: #6b6e77;
    text-decoration: line-through;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.butão {
    background-color: #406f5d;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    padding: 16px 64px 16px 64px;
}

.icon {
    margin-right: 8px
}




@media screen and (max-width: 489px) {
    .swapimg {
        display: none;
    }

    .product-name-large {
        display: none;
    }

    .card-image {
        width: 332px;
        max-width: 375px;
    }

    .visible-mobile {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
        object-fit: cover;
    }

    .product {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        object-fit: cover;
    }

    .card-content {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0;
        padding: 16px;
        padding-top: 0;
        width: 330px;
    }

    .product-name-small {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 18px;
        font-weight: 700;
    }

    .butão {
        padding: 8px 64px 8px 64px;
    }
}

@media screen and (min-width: 763px) {
    .swapimg {
        display: none;
    }

    .product-name-small {
        display: none;
    }

    .product-name-large {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 18px;
        font-weight: 700;
    }

    .visible-desktop {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 100%;
        display: inline;
    }
}